@use "../../customs/" as *;

.about {
    display: flex;
    flex-direction: column;
    gap: rem-calc(48);

    > div {
        max-width: rem-calc(775);

        @include border-radius;
        @include box-shadow;
        @include main-card;

        .show-on-mobile {
            display: block;
            margin-bottom: rem-calc(20);
            padding-bottom: rem-calc(16);
            border-bottom: 1px solid rgba($white, 0.825);

            @include mobile {
                display: none;
            }

            span {
                display: block;
                font-size: rem-calc(18);
                margin-top: rem-calc(4);
            }
        }

        table {
            overflow: hidden;

            @include border-radius;

            th,
            td {
                min-width: rem-calc(267.5);
                padding: rem-calc(16 12);
            }

            thead {
                background: rgba($white, 0.825);
                color: $primary;
                display: none;
                border-bottom: 3px solid $white;

                @include mobile {
                    display: block;
                }

                th {
                    font-weight: bolder;
                    font-size: rem-calc(18);
                }
            }

            tbody {
                tr {
                    display: flex;
                    flex-direction: column;

                    @include mobile {
                        flex-direction: row;
                    }

                    &:first-child {
                        td {
                            padding-top: rem-calc(8);

                            @include mobile {
                                padding-top: rem-calc(32);
                            }
                        }
                    }

                    td {
                        &:first-child {
                            font-weight: 600;
                        }

                        &:first-of-type {
                            display: flex;
                            align-items: center;
                            gap: rem-calc(24);

                            > svg {
                                min-width: rem-calc(28);
                            }
                        }
                    }
                }
            }
        }

        &:nth-child(odd) {
            align-self: flex-start;
        }

        &:nth-child(even) {
            align-self: flex-end;
        }
    }
}
