@use "../../customs/" as *;

.anbi {
    display: flex;
    justify-content: center;

    > div {
        max-width: rem-calc(800);

        @include border-radius;
        @include box-shadow(1);
        @include main-card;

        > h3 {
            margin-bottom: unset;
        }
    }
}
