@use "../../customs/" as *;

.contact {
    display: flex;
    gap: rem-calc(32);
    flex-direction: column-reverse;

    @include phablet {
        flex-direction: row;
        gap: rem-calc(48);
    }

    > div:nth-child(1) {
        flex: 50%;
    }

    > div:nth-child(2) {
        flex: 50%;
        height: fit-content;

        @include main-card;

        h3 {
            margin-bottom: rem-calc(24);
        }

        h4 {
            margin-bottom: rem-calc(2);

            @include fluid-typing(20, 22);

            &:not(:first-child) {
                margin-top: rem-calc(16);
            }
        }

        a,
        button {
            position: relative;

            @include smooth-trans;

            &:hover {
                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-right: 10px solid rgba($tertiary, 0.75);
                    position: absolute;
                    top: 50%;
                    right: rem-calc(-20);
                    transform: translateY(-50%);
                }
            }
        }

        span {
            font-weight: 500;
            color: $tertiary;
        }
    }
}
