@use "../../customs/" as *;

.contact {
    display: flex;
    gap: rem-calc(32);
    flex-direction: column-reverse;

    @include phablet {
        flex-direction: row;
        gap: rem-calc(48);
    }

    > div:nth-child(1) {
        flex: 50%;
    }

    > div:nth-child(2) {
        flex: 50%;
        height: fit-content;

        @include main-card;

        span {
            font-weight: 600;
            color: $tertiary;
        }
    }
}
