@use "../../customs/" as *;

.index {
    display: flex;
    flex-direction: column;
    gap: rem-calc(32);

    > div {
        @include main-card;

        > ol {
            display: flex;
            flex-direction: column;
            gap: rem-calc(40);
        }
    }

    .active {
        outline: 2px solid $tertiary;
        animation: fade-out-outline 3s forwards;
    }

    @keyframes fade-out-outline {
        0%,
        60% {
            outline-color: $tertiary;
        }

        100% {
            outline-color: transparent;
        }
    }
}
