@use "../../customs/" as *;

.workshops {
    $workshops: &;

    > div {
        &:first-child {
            margin-bottom: rem-calc(48);
            text-align: center;

            @include main-card;

            h2 {
                margin-bottom: unset;
            }

            a {
                @include text-link;
            }
        }

        &.introduction,
        &.codeswitching,
        &.teambuilding,
        &.knowyourself,
        &.streetcodes {
            margin: rem-calc(24 0);

            ul {
                margin: rem-calc(6 0 16);
            }
        }

        &.introduction {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include compact {
                gap: rem-calc(20);
            }

            @include mobile {
                gap: rem-calc(80);
            }

            @include laptop {
                flex-direction: row;
            }

            .visuals {
                position: relative;
                min-width: rem-calc(505);
                min-height: rem-calc(447.5);
                transform: scale(0.625);
                margin-top: rem-calc(-35);
                margin-bottom: rem-calc(-75);

                @include compact {
                    transform: scale(0.75);
                    margin-top: rem-calc(-15);
                    margin-bottom: rem-calc(-25);
                }

                @include mobile {
                    transform: scale(1);
                    margin-top: unset;
                    margin-bottom: unset;
                }

                .img-one,
                .img-two,
                .img-three,
                .img-four,
                .img-five,
                .img-six,
                .img-seven {
                    position: absolute;
                    width: 100%;
                }

                .img-one,
                .img-three,
                .img-four,
                .img-five,
                .img-six,
                .img-seven {
                    border-radius: 50%;
                    aspect-ratio: 1 / 1;
                }

                .img-one {
                    width: rem-calc(150);
                    height: rem-calc(150);
                    top: rem-calc(25);
                    left: rem-calc(75);
                    z-index: -1;
                }

                .img-two {
                    max-width: rem-calc(300);
                    max-height: rem-calc(200);
                    top: rem-calc(125);
                    left: rem-calc(100);
                    z-index: 0;
                }

                .img-three {
                    max-width: rem-calc(162.5);
                    max-height: rem-calc(162.5);
                    top: 0;
                    left: rem-calc(208);
                    z-index: -1;
                }

                .img-four {
                    max-width: rem-calc(150);
                    max-height: rem-calc(150);
                    top: rem-calc(47);
                    left: rem-calc(355);
                    z-index: 1;
                }

                .img-five {
                    max-width: rem-calc(167.5);
                    max-height: rem-calc(167.5);
                    top: rem-calc(270);
                    left: 0;
                    z-index: 1;
                }

                .img-six {
                    max-width: rem-calc(125);
                    max-height: rem-calc(125);
                    top: rem-calc(300);
                    left: rem-calc(250);
                    z-index: 1;
                }

                .img-seven {
                    max-width: rem-calc(125);
                    max-height: rem-calc(125);
                    top: rem-calc(320);
                    left: rem-calc(350);
                    z-index: 0;
                }
            }
        }

        &.codeswitching {
            display: flex;
            align-items: center;
            flex-direction: column;

            @include phablet {
                gap: rem-calc(40);
            }

            @include tablet {
                flex-direction: row;
                gap: rem-calc(80);
            }

            .visuals {
                position: relative;
                min-width: rem-calc(565);
                min-height: rem-calc(525);
                transform: scale(0.625);
                margin-top: rem-calc(-35);
                margin-bottom: rem-calc(-100);

                @include compact {
                    margin-top: rem-calc(-10);
                    margin-bottom: rem-calc(-50);
                    transform: scale(0.75);
                }

                @include mobile {
                    margin-top: rem-calc(25);
                    margin-bottom: unset;
                    transform: scale(0.875);
                }

                @include phablet {
                    transform: scale(1);
                }

                img {
                    border: 2px solid $grey-trans;
                }

                .img-one,
                .img-two,
                .img-three {
                    position: absolute;
                    width: 100%;
                }

                .img-one {
                    max-width: rem-calc(375);
                    max-height: rem-calc(225);
                    left: 0;
                    top: rem-calc(185);
                }

                .img-two {
                    max-width: rem-calc(225);
                    max-height: rem-calc(375);
                    transform: rotate(-15deg);
                    left: rem-calc(290);
                    top: 0;
                    z-index: -1;
                }

                .img-three {
                    max-width: rem-calc(200);
                    max-height: rem-calc(275);
                    left: rem-calc(325);
                    top: rem-calc(245);
                    transform: rotate(20deg);
                }
            }
        }

        &.teambuilding {
            display: flex;
            gap: rem-calc(36);
            flex-wrap: wrap;

            @include tablet {
                gap: rem-calc(48);
                flex-wrap: nowrap;
            }

            .visual {
                &-one,
                &-two {
                    img {
                        border: 2px solid $grey-trans;
                    }

                    .img-one,
                    .img-two {
                        width: 100%;
                    }

                    .img-one {
                        width: rem-calc(275);

                        @include mobile {
                            width: rem-calc(350);
                        }
                    }

                    .img-two {
                        max-width: rem-calc(175);
                        width: max-content;
                    }
                }
            }
        }

        &.knowyourself {
            display: flex;
            align-items: center;
            flex-direction: column;

            @include mobile {
                gap: rem-calc(60);
            }

            @include laptop {
                flex-direction: row;
                gap: rem-calc(80);
            }

            .visuals {
                position: relative;
                min-width: rem-calc(435);
                min-height: rem-calc(550);
                transform: scale(0.625);
                margin-top: rem-calc(-60);
                margin-bottom: rem-calc(-100);

                @include compact {
                    transform: scale(0.75);
                    margin-top: rem-calc(-25);
                    margin-bottom: rem-calc(-60);
                }

                @include mobile {
                    margin-top: unset;
                    margin-bottom: unset;
                    transform: scale(1);
                }

                img {
                    border: 2px solid $grey-trans;
                }

                .img-one,
                .img-two,
                .img-three {
                    position: absolute;
                    width: 100%;
                }

                .img-one {
                    max-width: rem-calc(200);
                    max-height: rem-calc(300);
                    left: rem-calc(85);
                    top: 0;
                }

                .img-two {
                    max-width: rem-calc(200);
                    max-height: rem-calc(300);
                    left: rem-calc(235);
                    top: rem-calc(100);
                    z-index: 0;
                }

                .img-three {
                    max-width: rem-calc(300);
                    max-height: rem-calc(350);
                    top: rem-calc(250);
                    left: 0;
                }
            }
        }

        &.streetcodes {
            display: flex;
            flex-direction: column;
            gap: rem-calc(48);

            @include laptop {
                flex-direction: row;
            }

            .visual {
                &-one,
                &-two {
                    img {
                        border: 2px solid $grey-trans;
                    }

                    .img-one {
                        max-width: rem-calc(350);
                        width: max-content;
                    }
                }

                &-two {
                    position: relative;
                    min-width: rem-calc(250);
                    height: rem-calc(372.5);
                    margin: 0 auto;

                    @include mobile {
                        margin: 0 0 0 auto;
                    }

                    .img-two,
                    .img-three {
                        width: 100%;
                    }

                    .img-two {
                        position: absolute;
                        max-width: rem-calc(175);
                        top: 0;
                        left: rem-calc(75);
                    }

                    .img-three {
                        position: absolute;
                        max-width: rem-calc(150);
                        top: rem-calc(150);
                        left: 0;
                    }
                }
            }
        }

        &:last-child {
            color: $primary;
            margin-top: rem-calc(48);
            text-align: center;

            a {
                @include text-link;
            }

            @include main-card(rgba($white, 0.825));
        }
    }

    > hr {
        @include hr($space: 80, $type: 2);
    }
}
