@use "../../customs/" as *;

.workshops {
    $workshops: &;

    > div:first-child {
        margin-bottom: rem-calc(48);

        @include main-card;
    }

    > div:last-child {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: rem-calc(16);

        a {
            flex: 1 1 100%;

            @include fluid-typing(14, 16);

            @include tablet {
                flex-basis: calc(50% - 0.5rem);
                flex-grow: 1;
            }

            @include button(5, "full", $white, $bdcolor: rgba($tertiary, 0.5));
        }
    }
}
