@import '../configs/globals';

.about {
	display: flex;
	flex-direction: column;
	gap: 3em;

	> div {
		max-width: 850px;

		@include mainCard;
		@include boxShadow;
		@include borderRadius;

		ol {
			margin: 1em 0;
		}

		table {
			overflow: hidden;

			@include borderRadius;

			thead {
				background: rgba($white, 0.825);
				color: $primary;

				th {
					font-weight: bolder;
					font-size: 1.125rem;
					border-bottom: 1px solid $white;
				}
			}

			tbody {
				tr {
					&:first-child {
						td {
							padding-top: 2em;
						}
					}

					td:first-child {
						font-weight: 600;
					}
				}
			}

			th,
			td {
				min-width: 225px;
				padding: 1em 0.75em;
			}
		}

		&:nth-child(odd) {
			align-self: flex-start;
		}

		&:nth-child(even) {
			align-self: flex-end;
		}
	}
}
