@import '../configs/globals';

.footer {
	background-color: $primary;
	color: $white;

	@include fullWidth;

	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2em;

		@include container(1300px, 2em, 1.25em);

		> p {
			margin-bottom: 0;
			font-weight: 500;
			font-size: 1rem;
			position: relative;

			@include mobile {
				&:first-child {
					&::after {
						content: '';
						position: absolute;
						width: 25%;
						height: 3px;
						background-color: $tertiary;
						bottom: -43.75px;
						left: 0;

						@include borderRadius;
					}
				}

				&:last-child {
					&::before {
						content: '';
						position: absolute;
						width: 25%;
						height: 3px;
						background-color: $tertiary;
						top: -42.5px;
						right: 0;

						@include borderRadius;
					}
				}
			}
		}

		> ul {
			display: flex;
			gap: 1.5em;

			li {
				a:hover {
					color: $tertiary;
				}
			}
		}

		.menefex {
			&:hover {
				color: #ffcc00;
			}
		}

		@include mobile {
			flex-direction: column;

			p {
				&:first-child {
					align-self: flex-start;
				}

				&:last-child {
					align-self: flex-end;
				}
			}

			ul {
				align-self: center;
			}
		}
	}
}
