@import '../configs/globals';

.footer {
	background-color: $primary;
	color: $white;

	@include fullWidth;

	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include container(1000px, 2em, 1em);

		> p {
			margin-bottom: 0;
			font-weight: 500;
			font-size: 1rem;

			@include mobile {
				&:first-child {
					&::after {
						content: '';
						display: block;
						width: 33%;
						height: 3px;
						background-color: $tertiary;
						margin: 1em 0 0 0;

						@include borderRadius;
					}
				}

				&:last-child {
					&::before {
						content: '';
						display: block;
						width: 33%;
						height: 3px;
						background-color: $tertiary;
						margin: 0 0 1em auto;

						@include borderRadius;
					}
				}
			}
		}

		> ul {
			display: flex;
			gap: 1.5em;

			li {
				a:hover {
					color: $tertiary;
				}
			}
		}

		.menefex {
			&:hover {
				color: #ffcc00;
			}
		}

		@include mobile {
			flex-direction: column;

			p {
				&:first-child {
					align-self: flex-start;
				}

				&:last-child {
					align-self: flex-end;
				}
			}

			ul {
				align-self: center;
			}
		}
	}
}
