@import '../configs/globals';

.header {
	padding-top: 3em;
	display: flex;
	justify-content: space-between;

	.logo {
		max-width: 250px;

		@include phablet {
			max-width: 200px;
			margin: 0 0 1.5em 0.5em;
		}
	}

	> div {
		display: flex;
		flex-direction: column;
		gap: 2em;

		.nav {
			padding-top: 1.5em;

			> ul {
				display: flex;
				gap: 1em;

				> li {
					> a {
						@include navLink;

						&.active {
							position: relative;

							&::before {
								content: '';
								width: 0;
								height: 0;
								border-left: 6px solid transparent;
								border-right: 6px solid transparent;
								border-top: 7.5px solid $tertiary;

								position: absolute;
								top: -15px;
								left: 50%;
								transform: translateX(-50%);
							}
						}
					}
				}
			}
		}

		> ul {
			align-self: flex-end;
			display: flex;
			gap: 1em;

			> li {
				color: rgba($tertiary, 0.825);

				&:hover {
					color: rgba($tertiary, 1);
				}
			}
		}
	}
}
