@import '../configs/globals';

.index {
	display: flex;
	flex-direction: column;
	margin-bottom: 3em;

	> div {
		max-width: 100%;
		background-color: rgba($white, 0.05);
		padding: 2.5em 2em;

		// @include compact {
		// 	&:first-of-type {
		// 		padding-bottom: 3.5em;
		// 	}

		// 	&:not(:first-of-type) {
		// 		padding: 3.5em 2em;
		// 	}
		// }

		@include boxShadow;
		@include borderRadius;

		// &:nth-child(odd) {
		// 	align-self: flex-start;
		// }

		// &:nth-child(even) {
		// 	align-self: flex-end;
		// }
	}
}
