@import '../configs/globals';

.index {
	display: flex;
	flex-direction: column;
	margin-bottom: 3em;
	gap: 2em;

	> div {
		max-width: 100%;
		background-color: rgba($white, 0.05);
		padding: 2.5em 2em;

		@include boxShadow;
		@include borderRadius;

		> ol {
			display: flex;
			flex-direction: column;
			gap: 2.5em;
		}
	}

	.active {
		outline: 2px solid $tertiary;
	}
}
