@import '../configs/globals';

.index {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 350px;
	max-width: 625px;
	background: rgba($white, 0.05);
	padding: 2.5em 2em;

	// display: flex;
	// flex-direction: column;
	// margin-top: -7em;
	// margin-bottom: 3em;

	// @include tablet {
	// 	margin-top: -1em;
	// }

	// @include compact {
	// 	margin-top: 12.75em;
	// }

	// > div {
	// 	max-width: 525px;
	// 	background: rgba($white, 0.05);
	// 	padding: 2.5em 2em;
	// 	margin: -1em 0;

	// 	@include compact {
	// 		&:first-of-type {
	// 			padding-bottom: 3.5em;
	// 		}

	// 		&:not(:first-of-type) {
	// 			padding: 3.5em 2em;
	// 		}
	// 	}

	// 	@include boxShadow;
	// 	@include borderRadius;

	// 	&:nth-child(odd) {
	// 		align-self: flex-start;
	// 	}

	// 	&:nth-child(even) {
	// 		align-self: flex-end;
	// 	}
	// }
}
