@use "./customs/" as *;

h1 {
    @include fluid-typing(24, 32);
}

h2 {
    @include fluid-typing(22, 28);
}

h3 {
    @include fluid-typing(20, 24);
}

h4 {
    @include fluid-typing(18, 22);
}

h5 {
    @include fluid-typing(16, 20);
}

h6 {
    @include fluid-typing(16, 18);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: rem-calc(16);
}

p,
li,
td,
th {
    @include fluid-typing(17, 18);

    aside & {
        font-size: rem-calc(16);
    }

    main & {
        &:not(:last-of-type):has(+ p) {
            margin-bottom: rem-calc(16);
        }
    }
}

u {
    @include underline($color: $tertiary);
}

b,
strong {
    font-weight: 600;
}

small {
    font-size: 75%;
}
