@use "./customs" as *;
@use "typography";

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100 900;
    src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 100 900;
    src: url("../fonts/Montserrat-Italic-VariableFont_wght.woff2")
        format("woff2");
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;

    &:has(.mobile-menu) {
        overflow-y: hidden;
    }
}

body {
    font-family: Montserrat, sans-serif;
    background: linear-gradient(145deg, $primary 30%, $secondary 100%);
    min-width: rem-calc(320);
    color: $white;

    @include container(rem-calc(1300));
}

.keep-it-real {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    &__logo {
        position: absolute;
        bottom: rem-calc(187.5);
        right: rem-calc(25);
        max-width: rem-calc(250);
        opacity: 0.1;
        z-index: -1;
        mask-image: linear-gradient(165deg, transparent, black);

        @include phablet {
            bottom: rem-calc(100);
            right: rem-calc(37.5);
            max-width: rem-calc(300);
        }
    }

    &:not(:has(> section)) {
        main {
            margin-top: rem-calc(175);

            @include mobile {
                margin-top: rem-calc(240);
            }
        }
    }
}

main {
    flex: 1;
    margin: rem-calc(40 0 80);
    line-height: 1.575;

    p,
    span,
    li {
        letter-spacing: 0.125px;

        &:not(#workshops p, #workshops span, #workshops li, #media li) {
            max-width: 70ch;
        }
    }

    ul {
        &:not(#events ul, #media ul) {
            list-style-type: disc;
        }

        li {
            &:not(#workshops li, #cta li, #events li, #media li) {
                margin-inline-start: rem-calc(16);
                padding-left: rem-calc(8);
            }

            &::marker {
                color: $tertiary;
            }
        }
    }

    ol {
        list-style-type: decimal;
        margin: rem-calc(16 0);

        li {
            &:not(#cta li) {
                margin-inline-start: rem-calc(24);
                padding-left: rem-calc(8);
            }
        }
    }

    &:has(aside) {
        display: flex;
        flex-direction: column-reverse;
        gap: rem-calc(48);

        @include tablet {
            flex-direction: row;
        }
    }
}

footer {
    flex-shrink: 0;
}

svg,
iframe {
    all: unset;
}

iframe {
    width: 100%;

    &.youtube {
        aspect-ratio: 16 / 9;
        outline: $primary 2px solid;

        @include border-radius;

        &.w-margin {
            margin-top: rem-calc(32);
        }
    }

    &.spotify {
        aspect-ratio: 1;
        height: rem-calc(80);

        @include box-shadow(1);

        &.w-margin {
            margin: rem-calc(32 0 28);
            aspect-ratio: auto;
            height: rem-calc(352);
        }
    }
}

button,
a {
    cursor: pointer;
}

.responsive-tag {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    padding: rem-calc(4 12);
    z-index: 1000;
    font-weight: bold;
    text-align: center;
    background-color: $white;
    opacity: 0.5;
    color: $black;
    outline: $black 1px solid;

    p {
        font-size: rem-calc(14);
        font-weight: bold;
    }
}
