@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import './configs/resets';
@import './configs/globals';

body {
	background: linear-gradient(145deg, $primary 30%, $secondary 100%);
	font-family: 'Montserrat', sans-serif;
	color: $white;

	@include container(1300px);

	@include toosmall {
		display: none;
	}
}

.keep-it-real {
	display: flex;
	flex-direction: column;
	margin: 0;
}

main {
	flex: 1;
	padding: 2em 0;

	p {
		max-width: 70ch;
	}

	&:has(aside) {
		display: flex;
		gap: 3em;
	}
}

h1 {
	font-size: 2rem;
	font-weight: 600;

	@include mobile {
		font-size: 1.75rem;
	}
}

h2 {
	font-size: 1.75rem;
	font-weight: 600;

	@include mobile {
		font-size: 1.5rem;
	}
}

h3 {
	font-size: 1.5rem;
	font-weight: 600;

	@include mobile {
		font-size: 1.375rem;
	}
}

h4 {
	font-size: 1.375rem;
	font-weight: 600;

	@include mobile {
		font-size: 1.25rem;
	}
}

h5 {
	font-size: 1.25rem;
	font-weight: 600;

	@include mobile {
		font-size: 1.125rem;
	}
}

h6 {
	font-size: 1.125rem;
	font-weight: 600;

	@include mobile {
		font-size: 1rem;
	}
}

p {
	font-size: 1.125rem;
	line-height: 1.4;

	main & {
		&:not(:last-of-type) {
			margin-bottom: 1em;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1em;
}

ol {
	padding-left: 1.5em;
	list-style-type: decimal;
}

footer {
	flex-shrink: 0;
}

iframe {
	width: 100%;

	&.youtube {
		aspect-ratio: 16 / 9;
		outline: $primary 2px solid;

		@include borderRadius;

		&.w-margin {
			margin-top: 2em;
		}
	}

	&.spotify {
		aspect-ratio: 1;
		height: 80px;

		@include boxShadow(1);

		&.w-margin {
			margin: 0.625em 0 1.25em;
		}
	}
}

button {
	cursor: pointer;
}

.responsive-tag {
	position: fixed;
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.25em 0.75em;
	z-index: 1000;
	font-weight: bold;
	text-align: center;
	background-color: $white;
	opacity: 0.5;
	color: $black;
	outline: $black 1px solid;
}
