@import './configs/resets';
@import './configs/globals';

body {
	background-image: linear-gradient(145deg, $primary 30%, $secondary 100%);

	color: $white;
}

.keep-it-real {
}

.responsive-tag {
	position: fixed;
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.25em 0.75em;
	z-index: 1000;
	font-weight: bold;
	text-align: center;
	background: $white;
	opacity: 0.5;
	color: $black;
	outline: $black 1px solid;
}
