$primary: #0d0128;
$secondary: #662d92;
$tertiary: #ff01ff;
$quaternary: #162987;
$quinary: #f8b53a;
$senary: #971d23;

$black: #191919;
$white: #fff;
$blue: #1a73e8;
$red: #f65752;

// $green: #14967f;
// $brown: #d0b3a8;

// $danger: #dc3545;
