@use "../../customs/" as *;

.form {
    form {
        display: flex;
        flex-direction: column;
        gap: rem-calc(16);
        margin-top: rem-calc(56);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: rem-calc(-32);
            left: 0;
            width: 25%;
            height: 3px;
            background: rgba($tertiary, 1);
        }

        > div {
            label {
                display: none;
            }

            input,
            textarea {
                width: 100%;
                background: rgba($white, 0.15);
                padding: rem-calc(14);

                @include border-radius;
                @include smooth-trans;

                &::placeholder {
                    opacity: 0.5;
                }

                &:focus {
                    outline: 2px solid rgba($tertiary, 1);
                }
            }

            &:has(button) {
                align-self: flex-end;

                > button {
                    @include button;
                }
            }
        }
    }
}
