@use "../../customs/" as *;

.cta {
    $cta: &;

    margin-bottom: rem-calc(32);

    &-wrapper {
        position: relative;
        margin: rem-calc(32 0 16 -32);

        > ul {
            display: inline-flex;
            flex-wrap: wrap;
            gap: rem-calc(20);

            > li {
                flex: 1;
                display: flex;

                > button {
                    color: $primary;
                    padding: rem-calc(22 20);
                    flex: 1 1 auto;
                    text-align: center;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include border-radius;
                    @include box-shadow(1);
                    @include border($color: $secondary);

                    > div {
                        max-width: rem-calc(150);

                        @include ellipsis;
                        @include fluid-typing(15, 17);

                        @include mini {
                            max-width: rem-calc(275);
                        }

                        @include compact {
                            max-width: none;
                        }
                    }

                    &:hover {
                        color: $white;
                        background-color: $secondary;
                    }
                }
            }
        }

        #{$cta}-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($secondary, 0.95);

            @include border($color: $tertiary);

            @include mobile {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @include border-radius;
            @include box-shadow(1);

            &-content {
                position: sticky;
                top: 25vh;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: rem-calc(20 32);
                width: 100%;
                padding: rem-calc(40 24);
                color: $white;

                @include border-radius;

                @include mobile {
                    position: static;
                    top: unset;
                }

                div:first-child {
                    h4 {
                        margin-bottom: rem-calc(8);
                    }

                    p {
                        @include fluid-typing(16, 17);
                    }
                }

                div:nth-child(2) {
                    display: flex;
                    align-self: flex-end;
                    gap: rem-calc(16);

                    > a {
                        @include button(1);
                    }

                    > button {
                        @include button(2);
                    }
                }
            }
        }
    }
}
