@use "../../customs/" as *;

.footer {
    background-color: $primary;
    color: $white;

    @include full-width;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem-calc(32);

        @include container(rem-calc(1300), rem-calc(32), rem-calc(20));

        @include mobile {
            flex-direction: column;

            p {
                &:first-child {
                    align-self: flex-start;
                }

                &:last-child {
                    align-self: flex-end;
                }
            }

            ul {
                align-self: center;
            }
        }

        > p {
            margin-bottom: 0;
            font-weight: 500;
            font-size: rem-calc(16);
            position: relative;

            @include mobile {
                &:first-child {
                    &::after {
                        content: "";
                        position: absolute;
                        width: 25%;
                        height: 3px;
                        background-color: $tertiary;
                        bottom: rem-calc(-45);
                        left: 0;

                        @include border-radius;
                    }
                }

                &:last-child {
                    &::before {
                        content: "";
                        position: absolute;
                        width: 25%;
                        height: 3px;
                        background-color: $tertiary;
                        top: rem-calc(-42.5);
                        right: 0;

                        @include border-radius;
                    }
                }
            }
        }

        > ul {
            display: flex;
            gap: rem-calc(16);

            li {
                a:hover {
                    color: $tertiary;
                }
            }
        }

        .menefex {
            &:hover {
                color: #fc0;
            }
        }
    }
}
