@use "../../customs/" as *;

.footer {
    background-color: $primary;
    color: $white;

    @include full-width;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem-calc(32);
        flex-direction: column;

        @include container(rem-calc(1300), rem-calc(32), rem-calc(20));

        @include phablet {
            flex-direction: row;
        }

        ul {
            align-self: center;

            @include phablet {
                align-self: flex-start;
            }
        }

        > p {
            margin-bottom: 0;
            font-weight: 500;
            font-size: rem-calc(16);
            position: relative;

            &:first-child {
                align-self: flex-start;

                &::after {
                    content: "";
                    position: absolute;
                    width: 25%;
                    height: 3px;
                    background-color: $tertiary;
                    bottom: rem-calc(-45);
                    left: 0;

                    @include border-radius;

                    @include phablet {
                        display: none;
                    }
                }
            }

            &:last-child {
                align-self: flex-end;

                &::before {
                    content: "";
                    position: absolute;
                    width: 25%;
                    height: 3px;
                    background-color: $tertiary;
                    top: rem-calc(-42.5);
                    right: 0;

                    @include border-radius;

                    @include phablet {
                        display: none;
                    }
                }
            }
        }

        > ul {
            display: flex;
            gap: rem-calc(16);

            li {
                a:hover {
                    color: $tertiary;
                }
            }
        }

        .menefex {
            &:hover {
                color: #fc0;
            }
        }
    }
}
