@use "../../customs/" as *;

.header {
    position: fixed;
    width: 100%;
    right: 0;
    z-index: 3;
    padding: rem-calc(24 0 20);

    @include mobile {
        padding: rem-calc(48 0 16);
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include container(rem-calc(1275));

        .logo {
            max-width: rem-calc(175);

            @include smooth-trans;

            @include mobile {
                max-width: rem-calc(200);
            }

            @include phablet {
                max-width: rem-calc(250);
            }
        }

        .desktop {
            display: none;
            flex-direction: column;
            gap: rem-calc(28);

            @include phablet {
                display: flex;
            }

            .nav {
                padding-top: rem-calc(24);

                > ul {
                    display: flex;
                    gap: rem-calc(16);

                    > li {
                        > a {
                            @include nav-link;

                            &.active {
                                position: relative;

                                &::before {
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-left: 6px solid transparent;
                                    border-right: 6px solid transparent;
                                    border-top: 7.5px solid $tertiary;
                                    position: absolute;
                                    top: rem-calc(-20);
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                    }
                }
            }

            > ul {
                align-self: flex-end;
                display: flex;
                gap: rem-calc(16);
                height: rem-calc(23);

                > li {
                    color: rgba($tertiary, 0.825);

                    &:hover {
                        color: rgba($tertiary, 1);
                    }
                }
            }
        }

        .mobile {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: $primary;
            z-index: 2;

            &.open {
                display: block;

                @include phablet {
                    display: none;
                }
            }

            &-menu {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                height: 100%;
                gap: rem-calc(32);
                padding: rem-calc(0 48);

                > li {
                    > a {
                        font-size: rem-calc(28);
                        display: flex;
                        align-items: center;
                        gap: rem-calc(8);

                        &.active {
                            &::before {
                                content: "";
                                width: 0;
                                height: 0;
                                border-left: 7px solid transparent;
                                border-right: 7px solid transparent;
                                border-top: 8.5px solid $tertiary;
                                transform: rotate(270deg);
                            }
                        }
                    }
                }
            }

            &-socials {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: center;
                gap: rem-calc(28);
                margin-top: rem-calc(16);

                > li {
                    color: rgba($tertiary, 0.825);

                    &:hover {
                        color: rgba($tertiary, 1);
                    }
                }
            }
        }
    }

    &.is-sticky {
        // background: $primary;
        background: linear-gradient(
            to bottom,
            rgba($primary, 1) 0%,
            rgba($primary, 0.75) 100%
        );
        padding: rem-calc(16 0);

        @include box-shadow;

        > div {
            .logo {
                max-width: rem-calc(137.5);

                @include mobile {
                    max-width: rem-calc(150);
                }

                @include tablet {
                    max-width: rem-calc(175);
                }
            }
        }
    }
}
