@use "../../customs/" as *;

.aside {
    $aside: &;

    display: flex;
    flex-direction: column;
    gap: rem-calc(32);
    width: 100%;
    height: fit-content;
    min-width: rem-calc(350);

    @include phablet {
        max-width: rem-calc(400);
    }

    > div {
        @include border-radius;
        @include box-shadow(1);

        > h2 {
            @include fluid-typing(22, 24);
        }

        &:not(:has(iframe)) {
            padding: rem-calc(32 28);
        }

        &#{$aside}-legend {
            display: none;
            padding: rem-calc(40 28);
            background: linear-gradient(
                to left,
                rgba($tertiary, 87.5%),
                $secondary
            );

            @include border-radius;
            @include box-shadow(1);

            @include phablet {
                display: block;
            }

            > h2 span {
                color: $primary;
            }

            > ul {
                display: flex;
                flex-direction: column;
                gap: rem-calc(8);

                > li {
                    font-size: rem-calc(18);
                    font-weight: 600;

                    a,
                    button {
                        &.active {
                            &::after {
                                content: "";
                                width: 0;
                                height: 0;
                                border-top: 6px solid transparent;
                                border-bottom: 6px solid transparent;
                                border-right: 10px solid rgba($primary, 1);
                                position: absolute;
                                top: 50%;
                                right: rem-calc(-20);
                                transform: translateY(-50%);
                            }
                        }
                    }

                    &:not(:has(ul)) {
                        width: fit-content;

                        a,
                        button {
                            position: relative;

                            @include smooth-trans;

                            &:hover:not(.active) {
                                &::after {
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-top: 6px solid transparent;
                                    border-bottom: 6px solid transparent;
                                    border-right: 10px solid rgba($primary, 0.5);
                                    position: absolute;
                                    top: 50%;
                                    right: rem-calc(-20);
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }

                    > button {
                        position: relative;

                        .active {
                            > u {
                                &::after {
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-top: 6px solid transparent;
                                    border-bottom: 6px solid transparent;
                                    border-right: 10px solid rgba($primary, 1);
                                    position: absolute;
                                    top: 50%;
                                    right: rem-calc(-20);
                                    transform: translateY(-50%);
                                }
                            }
                        }

                        > u {
                            position: relative;

                            &:hover {
                                &::after {
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-top: 6px solid transparent;
                                    border-bottom: 6px solid transparent;
                                    border-right: 10px solid rgba($primary, 0.5);
                                    position: absolute;
                                    top: 50%;
                                    right: rem-calc(-20);
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }

                    > ul {
                        margin: rem-calc(12 0 4);
                        display: flex;
                        flex-direction: column;
                        gap: rem-calc(12);
                        list-style-type: "-";
                        padding-left: rem-calc(8);

                        > li {
                            padding-left: rem-calc(8);

                            &::marker {
                                color: $primary;
                            }

                            > p {
                                font-size: rem-calc(18);
                                margin-bottom: 0;
                            }

                            > a,
                            > button {
                                position: relative;

                                @include smooth-trans;

                                &:hover {
                                    &::after {
                                        content: "";
                                        width: 0;
                                        height: 0;
                                        border-top: 6px solid transparent;
                                        border-bottom: 6px solid transparent;
                                        border-right: 10px solid
                                            rgba($primary, 0.5);
                                        position: absolute;
                                        top: 50%;
                                        right: rem-calc(-20);
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &#{$aside}-actual {
            background: linear-gradient(
                to left,
                rgba($secondary, 1%),
                $primary
            );

            > h2 {
                @include underline($color: $primary);
            }

            > p > u {
                @include underline($color: $tertiary, $offset: 3px);
            }

            > a {
                display: block;
                margin: rem-calc(16 0);

                @include text-link;
            }
        }

        &#{$aside}-events {
            background-color: rgba($secondary, 0.75);

            > h2 {
                @include underline($color: $primary);

                &:not(:first-of-type) {
                    margin-top: rem-calc(24);
                }
            }

            > hr {
                @include hr($white);
            }

            > ul {
                &#{$aside}-events-active > li {
                    button {
                        margin-top: rem-calc(16);

                        @include button(1, "full");
                    }
                }

                &#{$aside}-events-archive {
                    display: flex;
                    gap: rem-calc(8);
                }
            }
        }

        &#{$aside}-podcast {
            display: none;

            @include phablet {
                display: block;
            }
        }

        &#{$aside}-contact {
            background: linear-gradient(
                to left,
                rgba($secondary, 1%),
                $primary
            );
        }

        &#{$aside}-media {
            background-color: rgba($secondary, 0.75);

            > ul > li > a {
                display: flex;
                justify-content: space-between;
                gap: rem-calc(8);
                border: 1px solid rgba($white, 0.25);
                padding: rem-calc(12);

                @include smooth-trans;

                &:hover {
                    border: 1px solid rgba($white, 0.75);
                }

                > svg {
                    align-self: flex-end;
                }
            }
        }
    }
}
