@use "../../customs/" as *;

.sticky-tag {
    $this: &;

    position: fixed;
    top: auto;
    bottom: rem-calc(75);
    left: 0;
    z-index: 2;
    opacity: 0.375;

    @include desktop {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }

    @include desktop {
        opacity: 1;
    }

    &-wrapper {
        display: flex;
        align-items: stretch;
        transform: translateX(-83%);
        outline: 1.5px solid rgba($white, 0.1);
        border-radius: 0 rem-calc(12) rem-calc(12) 0;

        @include smooth-trans(transform);

        > a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-height: rem-calc(56);
            padding: rem-calc(10 14 10 20);
            background: linear-gradient(to right, rgba($primary, 0.95), rgba($primary, 0.925));
            color: $white;
            letter-spacing: 0.01em;
            border-top: 1.5px solid $primary;
            border-bottom: 1.5px solid $primary;

            @include box-shadow(3);
            @include fluid-typing(14, 17);
        }

        > button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: rem-calc(56);
            min-height: rem-calc(56);
            background-color: rgba($white, 0.95);
            color: $tertiary;
            border-radius: 0 rem-calc(12) rem-calc(12) 0;

            @include border($width: 1.75px, $color: $primary);
            @include box-shadow(3);

            @include tablet {
                &:hover {
                    svg {
                        transform: translateX(6.25px);
                    }
                }
            }

            svg {
                @include smooth-trans(transform);
            }

            &:focus-visible {
                background-color: rgba($white, 1);
            }
        }
    }

    &.expanded {
        opacity: 1;

        #{$this}-wrapper {
            transform: translateX(0%);
        }

        button {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}
